ul,li{
    margin: 0;
    padding: 0;
}
.home-box {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.header {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem 0 0.24rem;
    background: #ffffff;
    z-index: 2;
}
.header>span{
    font-size: 0.3rem;
    width: 1.2rem;
}
.header>span>img{
    width: 100%;
}
.dropdown {
    width: 20%;
    height: .5rem;
    margin-top: .1rem;
}

.header > input {
    width: 3rem;
    height: 0.6rem;
    font-size: 0.3rem;
    border-radius: 0.4rem;
    border: 0;
    background: #f8f8f8;
    padding-left: 0.24rem;
    outline: none;
}

/*身体*/
.body {
    width: 100%;
    height: 84%;
    margin-top: 10%;
    position: absolute;
}

.banner1-info {
    width: 100%;
    height: 8%;
    display: flex;
    border-bottom: .01rem solid #dddddd;
    position: relative;
    background: #ffffff;
    padding: 0 0.24rem;
}
.banner1-info span{
    color: #333;
    font-size: 0.26rem;
}

.banner1-info .swiper-slide{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner1-info .bar{
    width: 1.25rem;
    height: 0.03rem;
    position: absolute;
    left: 0;
    bottom: 0;
}
.banner1-info .bar >span{
    width: 80%;
    height: 100%;
    background: #ff4891;
    display: block;
    margin: 0 auto;
}

.banner1-btn {
    z-index: 1;
    width: 14%;
    height: 100%;
    padding: 0 .24rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.banner1-btn > i {
    position: absolute;
    font-size: .36rem;
}

.second {
    display: none;
}

.banner2 {
    width: 100%;
    height: 92%;
}
.swiper-container{
    height: 100%;
    width: 100%;
}

.banner2  .swiper-slide {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.wrapper{
    height: 100%;
    overflow: hidden;
}
.slide1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main {
    width: auto;
    height: auto;
}

.banner3 {
    width: 100%;
    height: 7rem;
}
.banner3-inner,.banner3-inner>.swiper-slide,.banner3-inner>.swiper-slide>a,.banner3-inner>.swiper-slide>a>img{
    width: 100%;
    height: 100%;
}

.recommend-title {
    width: 100%;
    height: .5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: .01rem solid #dddddd;
    padding: 0 .48rem;
}

.recommend-title > p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .24rem;
    color: #4d4d4d;
    margin: 0;
}

.lantern {
    width: 100%;
    height: 1.3rem;
    display: flex;
    justify-content: space-between;
    padding: 0 .24rem;
    margin: .24rem 0;
}

.lantern-item {
    width: 18%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lantern-item > img {
    width: 100%;
    height: 80%;
}

.lantern-item > p {
    flex: 1;
    margin: 0;
    font-size: .18rem;
}

.view-card {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 0 .24rem;
    margin-bottom: .24rem;
}

.view-card > img {
    height: 100%;
    width: 48%;
}

.view-banner {
    width: 100%;
    height: 2.4rem;
}

.view-banner > img {
    width: 100%;
    height: 100%;
}

.shop-list {
    width: 100%;
    height: auto;
    padding: 0 .24rem;
}

.shop-list > li {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    padding: .36rem 0;
    border-bottom: .01rem solid #dddddd;
}

.shop-list > li > a {
    width: 30%;
    height: 100%;
    margin-right: .24rem;
}

.shop-list > li > a > img {
    width: 100%;
    height: 100%;
}

.list-content {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-title > p {
    margin: 0;
}

.sub-title {
    font-size: .36rem;
    color: #474245;
    text-align: left;
}

.mess-title {
    font-size: 0.24rem;
    color: #969696;
    text-align: left;
}

.item-txt {
    display: flex;
    align-items: center;
    text-align: left;
}

.item-txt > span {
    display: flex;
    align-items: center;
    padding: 0 .02rem;
    border: .01rem solid rgb(245, 159, 193);
    margin-right: .08rem;
    color: rgb(245, 159, 193);
    font-size: .2rem;
}

.price-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.now-price {
    color: rgb(255, 72, 145);
    font-size: .36rem;
}

.bef-price {
    color: rgb(150, 150, 150);
    font-size: .3rem;
}

.price-icon {
    display: flex;
    align-items: center;
}

.add {
    background: rgb(255, 72, 145);
    display: flex;
    align-items: center;
    justify-content: center;
    width: .36rem;
    height: .36rem;
    border-radius: 50%;
}

.add > i {
    font-size: .2rem;
    color: #ffffff;
}

.jian {
    border: .01rem solid rgb(255, 72, 145);
    display: flex;
    align-items: center;
    justify-content: center;
    width: .36rem;
    height: .36rem;
    border-radius: 50%;
}

.jian > i {
    font-size: .2rem;
    color: rgb(255, 72, 145);
}

.shop-car {
    background: rgb(255, 72, 145);
    display: flex;
    align-items: center;
    justify-content: center;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
}

.shop-car > i {
    font-size: .2rem;
    color: #ffffff;
}

/*足底*/
.index-footer {
    width: 100%;
    height: 8%;
    position: fixed;
    left: 0;
    bottom: 0;
    background: rgba(247, 247, 250, 0.95);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.index-footer > a {
    display: inline-block;
    width: 1.5rem;
    height: 0.912rem;
    text-decoration: none;
    color: #333;
}

.index-footer > a > div {
    width: 100%;
    height: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-footer > a > div > img {
    width: 0.46rem;
    height: 0.46rem;
}

.index-footer > a > p {
    height: 0.352rem;
    width: 100%;
    font-size: 0.24rem;
    line-height: 0.352rem;
    text-align: center;
    margin: 0;
}

