
.head{
	width: 100%;
	height: 0.88rem;
	background: #fff;
	display: flex;
	justify-content: space-between;
	padding: 0 0.24rem;
	position: fixed;
	left: 0;
	top: 0;
	font-size: 0.24rem;
	line-height: 0.88rem;
	z-index: 999;
}

.tab{
	width: 100%;
	height: 0.88rem;
	background: #fff;
	padding-left: 0.24rem;
	position: fixed;
	left: 0;
	bottom: 0;
	border-top: 0.01rem solid #d4d4d4;
	z-index: 999;
}
.payInfo{
	line-height: 0.88rem;
}

.toPay{
	width: 30%;
	height: 0.88rem;
	background: rgb(255,72,145);
	float: right;
	font-size: 0.28rem;
	color: #fff;
	text-align: center;
}
.payInfo .need{
	font-size: 0.24rem;
	font-weight: 600;
	float: left;
}
.payInfo .price{
	color: rgb(255,72,145);
	font-size: 0.24rem;
	font-weight: 600;
	margin-left: 0.1rem;
	float: left;
}
.payInfo .vip{
	font-size: 0.2rem;
	color: rgba(0,0,0,0.5);
	margin-left: 0.1rem;
	float: left;
}
/*地址*/
.abc{
	box-sizing:border-box;
	width: 100%;
	height: 2.5rem;
	padding: 0.24rem;
	background: #fff;
	margin-top: 0.88rem;
}
.dw{
	width: 100%;
	height: 0.5rem;
	line-height: 0.5rem;
}
.dd{
	width: 0.6rem;
	height: 0.3rem;
	line-height: 0.3rem;
	border: 0.01rem rgb(150, 150, 150) solid;
	font-size: 0.24rem;
	float: left;
	text-align: center;
	margin-top: 0.1rem;
	background-color: #f2eeee;
}
.df{
	width: auto;
	height: 0.5rem;
	font-size: 0.28rem;
	float: left;
	margin-left: 0.1rem;
}
.dz{
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	display: flex;
	justify-content: space-between;
}
.dzz{
	font-size: 0.4rem;
}
.dz>span{
	font-size: 0.28rem
}
.dh{
	width: auto;
	height: 0.5rem;
	line-height: 0.5rem;
	font-size: 0.28rem;
}
.gg{
	display: block;
	width: 100%;
	height: 0.03rem;
}
.shangpin{
	box-sizing:border-box;
	margin-top: 0.24rem;
	width: 100%;
	height: 3rem;	
	background-color: #fff;
	padding: 0.24rem;
}
.da{
	width: 100%;
	height: 0.8rem;
	line-height: 0.8rem;
	border-bottom: 0.01rem rgb(150, 150, 150) solid;
}
.gang{
	width: 0.05rem;
	height: 0.4rem;
	background-color: #ff4891;
	float: left;
	margin-top: 0.2rem;
}
.dazuo{
	font-size: 0.28rem;
	width: auto;
	height: 100%;
	float: left;
	margin-left: 0.2rem;
}
.dayou{
	width: auto;
	height: 100%;
	float: right;
	color: #ff4891;
	font-size: 0.28rem;
	
}
.dayou>span{
	/*font-size: 1rem;*/
	color: rgb(150, 150, 150);
}
.yulan{
	width: 100%;
	height: 1.5rem;
	line-height: 1.5rem;
	/*margin-top: 0.24rem;*/
}
.simg{
	width: auto;
	height: 0.8rem;
	float: left;
	margin-top: 0.35rem;
}
.simg>img{
	display: block;
	float: left;
	width: 0.8rem;
	height: 0.8rem;
	margin-right: 0.24rem;
}
.jshu{
	width: auto;
	height: 1.5rem;
	font-size: 0.28rem;
	float: right;
}



/*支付信息*/
.price-list-panel{
    width: 100%;
    height: 6.3rem;
    margin-top: .2rem;
    background-color: #fff;
}
.price-list-panel ul{
    width: 100%;
    height: 5.2rem;
}
.price-list-panel ul li{
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    border-bottom: 1px solid #f5f5f5;
    box-sizing: border-box;
    position: relative;
    overflow-y: hidden;
}
.price-list-panel ul .frist{
    height: 1.12rem;
    line-height: 1.12rem;
    font-size: 0.3rem;
    color: #000;
        overflow-y: hidden;
}
.price-list-panel ul li .left{
    margin-left: .24rem;
    float: left;
    font-size: 0.32rem;
        overflow-y: hidden;
}
.price-list-panel ul li .right{
    text-align: right;
    padding-right: .3rem;
    float: right;
    font-size: 0.32rem;

}
.price-list-panel ul li:first-child .right{
    padding-top: .2rem;
    font-size: 0.3rem;
}
.right .price{
     display: block;
     height: .4rem;
     line-height: .4rem;
 }
.right .nopri{
    display: block;
    height: .4rem;
    line-height: .4rem;
    color: #969696;
}
.left img{
    width: .32rem;
    height: .32rem;
    display: inline-block;
}
.right.more:after{
    content: "";
    display: block;
    width: .1rem;
    height: .1rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: .24rem;
    margin: auto 0;
    border-bottom: .06rem solid #ccc;
    border-right: .06rem solid #ccc;
    transform: rotate(-45deg);
}
.price-list-panel ul li:nth-child(3) .right{
    padding-right: .42rem;
}
.total_price{
    width: 100%;
    height: 1.1rem;
    font-size: 18px;
    color: #262626;
    line-height: 1.1rem;
    text-align: right;
}
.total_price span{
    color: #FF4891;
    padding-right: .3rem;
}
/*会员*/
.data-v{
            width: 100%;
            height: 4rem;
            background: #f5f5f5;
            margin-top: 0.625rem;
        }
        .openvip{
            background: white;
            width: 100%;
            height:0.9rem;
            padding-top: 0.05rem;
            padding-left: 0.08rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1px;
        }
        .openvip img{
            width: 1rem;
            /* height: 0.18rem; */
            margin-top: 0.13rem;
            margin-right: 0.1rem;
        }
        /* p{
            margin-top: 0.06rem;
             font-size: 0.14rem;
             color: #000;
        } */
        .openvip p{
            width: 3.19rem;
            height: 0.6rem;
             /*margin-top: 0.06rem;*/
             font-size: 0.32rem;
             color: #000;
        }
        .list{
            width: 100%;
            height: auto;
        }
        .list li{
            width: 100%;
            height: 1rem;
            background: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1px;
        }
        .list img{
            width: 0.8rem;
            /* height: 0.4rem; */
            margin-top: 0.15rem;
            margin-left: 0.08rem;
            margin-right: 0.08rem;
        }
        .member{
            width: 100%;
            display:flex;
            justify-content: space-between;
        }
        .member p{
            margin-top: 0.24rem;
             margin-top: 0.06rem;
             font-size: 0.3rem;
             color: #000;
        }
         .member p span{
            font-weight: 600;
         }
        .member>div{
            width: 0.21rem;
            height: 0.21rem;
            margin-top: 0.1rem;
            margin-right: 0.1rem;
            line-height: 0.21rem;
            
            font-size: 0.21rem;
            color: #FF4891;
        }

/*底部选择支付方式*/


.explain {
    width: 100%;
    height: 0.5rem;
    background: #f5f5f5;
    padding: 0 0.24rem;
}

.e-word {
    width: 1.1rem;
    height: 100%;
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.explain span {
    color: #999;
    font-size: 0.2rem;
    line-height: 0.5rem;
}

.explain i {
    font-size: 0.2rem;
    color: #999;
}

.storage {
    width: 100%;
    height: 0.88rem;
    background: #fff;
    padding: 0 0.24rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.24rem;
}

.tips {
    color: rgb(255, 72, 145);
}

.go i {
    font-size: 0.28rem;
    color: #999;
}

.anotherpay {
    width: 100%;
    /*height: 3rem;*/
    background: #fff;
    margin-top: 0.1rem;
    padding: 0 0.24rem;
}

.pay-money {
    width: 100%;
    height: 0.88rem;
    font-size: 0.24rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.02rem solid #f5f5f5;
}

.pay-method,
.method-list {
    width: 100%;
    height: auto;
}

.iconfont.icon-weixindenglu {
    font-size: 0.6rem;
    color: #00C800;
}

.iconfont.icon-zhifubao1 {
    font-size: 0.6rem;
    color: #5A9EF7;
}

.method-list-item {
    width: 100%;
    height: 0.88rem;
    border-bottom: 0.02rem solid #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.24rem;
}

.method-list-item.second {
    border: 0
}

.select {
    position: relative;
    width: 0.3rem;
    height: 0.27rem;
}

.select img {
    width: 0.3rem;
    height: 0.27rem;
    position: absolute;
    top: 0;
    left: 0;
}

.wechat {
    width: 5.6rem;
}

.w-title {
    font-size: 0.26rem;
}

.w-des {
    font-size: 0.18rem;
    color: #999
}
.bottom{
	width: 100%;
	height: 0.88rem;
}
